/* goggle font import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital@0;1&display=swap');


/* general styling */
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #111;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset:1rem;
}

img{
    height: auto;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    line-height: 1.5;
    font-size: .938rem;
    user-select: none;
}

/* Transition */
a, .btn{
    transition: all 300ms ease;
}

/* Desktop Nav */
nav,
.nav__links{
    display: flex;
}

nav{
    align-items: center;
    justify-content: space-around;
    height: 17vh;
    font-weight: 600;
}

.nav__links{
    gap: 2rem;
}

.logo{
    font-size: 2rem;
    font-size: bold;
}

/* Hamburger Menu */
#hamburger__nav{
    display: none;
}


.hamburger__menu{
    position: relative;
    display: inline-block;
}

.hamburger__icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 24px; */
    width: 30px;
    cursor: pointer;
}

/* breakpoints for small screens */
@media screen and (max-width: 1200px) {
    .desktop__nav{
        display: none;
    }

    .logo{
        font-size: 1rem;
    }

    #hamburger__nav{
        display: flex;
    }

    .hamburger__nav{
        display: flex;
    }
}

.hamburger__icon{
    font-size: 2rem;
    transition:all 0.3s ease-in;
}

.hidden{
    display: none;
}

.menu__links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color:#fff ;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3;
}