/* goggle font import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital@0;1&display=swap');


/* general styling */
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #111;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset:1rem;
}

img{
    height: auto;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    line-height: 1.5;
    font-size: .938rem;
    user-select: none;
}

/* reusable style */
.container{
    margin-inline: 5rem;
}

/* Transition */
a, .btn{
    transition: all 300ms ease;
}

/* Desktop Nav */
nav,
.nav__links{
    display: flex;
}

nav{
    align-items: center;
    justify-content: space-between;
    height: 17vh;
    font-weight: 600;
}

.nav__links{
    gap: 2rem;
}

.logo{
    font-size: 2rem;
    font-size: bold;
}

/* Hamburger Menu */
#hamburger__nav{
    display: none;
}


.hamburger__menu{
    position: relative;
    display: inline-block;
}

.hamburger__icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 24px; */
    width: 30px;
    cursor: pointer;
}

/* breakpoints for small screens */
@media screen and (max-width: 1200px) {
    .container{
        margin-inline: 2rem;
    }

    .desktop__nav{
        display: none;
    }

    .logo{
        font-size: 1rem;
    }

    #hamburger__nav{
        display: flex;
    }

    .hamburger__nav{
        display: flex;
    }
}

.hamburger__icon{
    font-size: 2rem;
    transition:all 0.3s ease-in;
}

.hidden{
    display: none;
}

.menu__links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color:#fff ;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3;
}

.menu__links a{
    display: block;
    padding: 1rem;
    /* text-align: center; */
    color: #111;
    /* text-decoration: none; */
    transition: all 0.3s ease;
}

.menu__links.open{
    max-height: 300px;
}


section{
    padding-top: 4vh;
    padding-bottom: 5rem;
}

#profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__image{
    width: 30%;
}

.profile__image img{
    width:370px;
    height: auto;
    border-radius: 3rem;
    border: 2px solid rgb(85, 85, 85);
    padding: 1rem;
}

.profile__content{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.profile__content-subtitle{
    font-size: 2rem;
}   

.profile__content h1{
    font-size: 3rem;
}



.icon{
    width: 30px;
    margin-top: 1rem;
    margin-right: 1rem;
    transition: transform 0.4s ease;
    padding: 4px;
}

.icon:hover{
    transform: translateY(-10px);
    transition:all 3s ease ease-in;
    cursor: pointer;
}


.about__intro{
    text-align: center;
}

.about__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__img{
    width: 40%;
}

.about__img img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 3rem;
}

.about__content{
    width: 60%;
}

.about__details{
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}

.about__experience,
.about__education{
    border: 2px solid rgb(85, 85, 85);
    padding: 1rem;
    border-radius: 20px;
}

#colleagues .title{
    text-align: center;
    padding-bottom:2rem ;
}

.colleagues__img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colleagues__img img{
    width: 220px;
    border-radius: 1rem;
    padding: 10px;
}


#contact{
    text-align: center;
}

#contact h1{
    margin-bottom: 20px;
}

.contact__field{
    width: 30%;
    margin-inline:  auto;
    border: 1px solid rgb(85, 85, 85);
    padding: 1rem 0;
    border-radius: 20px;
    font-weight: 600;
}

.contact__email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__email img{
    margin: 0;
}

#footer{
    text-align: center;
    padding-bottom: 1rem;
}